################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WMS.CrossCuttingConcerns/obj
/WMS.Infrastructure/obj
/WorkManagementSystem/obj
/.vs/ManagerProject/v17
/.vs
/WorkManagementSystem/WorkManagementSystem.csproj.user
/WMS.CrossCuttingConcerns/bin/Debug/net8.0
/WorkManagementSystem/bin/Debug/net8.0
/WMS.CrossCuttingConcerns/bin
/WorkManagementSystem/.config
/WorkManagementSystem/bin
/WorkManagementSystem/Properties/PublishProfiles
